.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;    
}

.buttonMcta {
    width: 600px;
}

.button1 {
    background: none;
    background-color: #F9F9F9;
    height: 32px;
    padding: 10px 13px;
    border-radius: 3px;
    color: #262626;
    border: 1px solid #CDCDCD;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-top: 4px;
    right: 19px;
    align-items: center;
    margin-left: 9px;
}